<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WokanZX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EF73BF1D7DBCB200115966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EF73D81D7DBCB200115966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EF73E31D7DBCB300115966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
